
* {
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
}
.clearfix {
    zoom: 1;
}
.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}

.portfolio {
    margin: 30px auto;
    width: 1130px;
}

.portfolio .galerry li {
    float: left;
    margin-right: 30px;
    margin-bottom: 22px;
    width: 350px;
}
.portfolio .galerry li:nth-child(3n) {
    margin-right: 0;
}
.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}
p.name{

}
